/* Browser CSS Reset*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ------End of Reset----------------*/

body {
  display: flex;
  flex-direction: column;
  margin:0;
}

body,
input,
button {
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #222;
}

#container {
  display: flex;
  flex-direction: column;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}


/* Top Nav bar styling------------------------------*/

#nav-box-1,
#nav-box-2,
#nav-box-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-box-1 a {
  margin: 1em;
  color: #222;
}

#nav-box-2 a {
  margin: 1em;
  color: #222;
}

#blank-nav-space {
  width: 40%;
}

#nav-box-3 img {
  margin-right: 1em;
}

#nav-box-3 img:hover {
  border-bottom: 1px solid black;
}

#nav-box-3 button {
  width: 80px;
  height: 36px;
  color: white;
  background-color: rgb(43, 125, 233);
  border-radius: 0.3em;

  border: none;
}

#nav-box-3 button:hover {
  text-decoration: underline;
}

/*-----------------------------------------------------*/
/* Main Content styling
-------------------------------------------------------*/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10em;
  padding-bottom: 3em;

  
}

#main-box-1 {
  display: flex;
  margin: 1em;
  width: 60%;
  justify-content: center;
  align-items: center;
  border: 1px solid #5f6368;
  box-shadow: 0.25em 0.25em 0.75em #5f6368;
  border-radius: 3em;
}

#main-box-1 img {
  transform: scale(0.9);
}

#main-box-1 input {
  width: 25em;
  height: 2.5em;
  margin: 0.25em;
  border: none;
  outline: none;
}

#main-box-2 {
  display: flex;
}

#main-box-2 button {
  color: #5f6368;
  width: 127px;
  height: 36px;
  background-color: #f8f8f8;
  margin: 1em;
  border-radius: 0.5em;
  border: none;
}

#main-box-2 button:hover {
  border: 1px solid #5f6368;
}

/*----------------------------------------------*/
/*--------footer styling------------------------*/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 15%;
  background-color: #f8f8f8;
  padding: 0.5em 0;
}

#footer-box-1 {
  display: flex;
  justify-content: center;
  align-items:center;
  margin: 1em;
}

#footer-box-1 img, p{
	margin: 0 .2em;
}

#footer-box-1 img {
	padding-bottom: .3em;
}


#footer-box-2 {
  display: flex;
  justify-content: space-between;
}

#footer-box-2 a {
	margin: 0 1.5em;
}
